.top
  %h1 "הצועק"
  .timer 00:30
.azizi
  .head
    .mouth

%audio{:preload => 'auto', :loop => true}
  %source{:src => '/sounds/azizi.ogg', :type => 'audio/ogg'}
  %source{:src => '/sounds/azizi.mp3', :type => 'audio/mpeg'}

.footer
  %a{:href => 'http://timeout.co.il/%D7%A2%D7%99%D7%A8%D7%95%D7%A0%D7%99/%D7%AA%D7%9C-%D7%90%D7%91%D7%99%D7%91/%D7%96%D7%9B%D7%95%D7%AA-%D7%94%D7%A6%D7%A2%D7%A7%D7%94', :target => :_blank}
    מיהו האיש הצועק?
